/*

colors:
blue: #0767d0
Black: #202020
White: #f0f0f0
salmon: #E67172

 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Condensed);

h1, h2, h3, h4 ,h5 ,h6, p, button, li, span, small{
  font-family: 'Josefin Sans', sans-serif;
}

ul, li {
  list-style-type: none;
}

*{
  margin: 0;
  padding: 0;
}	

.videoContainer{
  width: 100%;
  height: 100vh;
  /*background-color: rgba(230, 112, 113, 0.4);*/
}

video { 
  position: fixed;
  min-height: 100%;
  min-width: 60%;
  width: auto;
  height: auto;
  z-index: -1;
  transition: 1s opacity;
  background: black;
  opacity: 1;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#name{
  color: #E67172;
  font-size: 3em;
}

.keyWord{
  border-bottom: 1px dashed #E67172;
  display: inline;
}

#resumeFace{
  height: auto;
  width: 150px;
  position: fixed;
  bottom: 0px;
  right: -150px;
}

#sideNav {
  display: flex;
  width: 40%;
  background-color: #202020;
  height: 100vh;
  float: right;
  color: #f0f0f0;
}

#navContent{
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-bottom: 10vh;
  padding-left: 40px;
}

#navContent p{
  padding: 2px 0;
}

#navItems{
  margin-top: 20px;
}

#navItems li{
  padding: 8px 0; 
  display: block;
}

#navItems a{
  display: inline;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#navItems li a:hover{
  display: inline;
  color: #E67172;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#email{
  position: fixed;
  bottom: -100px;
}

#emailNotification{
  display: none;
  background-color: #E67172;
  font-size: 0.8em;
  padding: 4px 6px;
  border-radius: 8px;
  margin-left: 10px;
}

#mobileNav{
  display: none;
}

#navItemsMobile{
  display: none;
  justify-content: space-around;
  margin-top: 20px;
}

#navItemsMobile li{
  display: inline;
  text-decoration: none;
  cursor: pointer;
}

#navItemsMobile li a{
  color: white;
}

#navItemsMobile i{
  font-size: 7em;
  color: #E67172;
}

.point{
  font-size: 0.5em !important;
  padding-right: 4px;
  color: gray;
}

@media only screen and (max-device-width: 1024px) {
  #navItemsMobile{
    display: flex;
  }
  #sideNav{
    background-color: transparent;
    width: 100%;
  }
  .videoContainer{
    background-color: transparent;
    background-image: url("assets/cereal.png");
    background-repeat:no-repeat;
    background-size:cover;

    /*filter: grayscale(100%);*/
    /*-webkit-filter: grayscale(100%);*/
  }
  #navContent{
    justify-content: space-between;
    margin: 0 auto;
  }
  #name{
    margin-top: 7vh;
    font-size: 8em;
    text-align: center;
  }
  .keyWord{
    border-bottom: 3px dashed #E67172;
  }
  #blurb{
    font-size: 3em;
    text-align: center;
    text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
  }
  #navItems{
    display: none;
  }
  video{
    /*transform: translateX(-25%);*/
    display: none;
  }
}
