/*

colors:
blue: #0767d0
Black: #202020
White: #f0f0f0

 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto+Condensed);

h1, h2, h3, h4 ,h5 ,h6, p, button, li, span, small{
  font-family: 'Josefin Sans', sans-serif;
}

ul, li {
  list-style-type: none;
}

*{
  margin: 0;
  padding: 0;
}	

video { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  background: black;
  opacity: 0.5;
}

#name{
  color: #0767d0;
  font-size: 3em;
}

.keyWord{
  border-bottom: 1px dashed #0767d0;
  display: inline;
  cursor: pointer;
}

#navFooter{

}

#resumeFace{
  height: auto;
  width: 150px;
  position: fixed;
  bottom: 0px;
  right: -150px;
}

#sideNav {
  width: 50%;
  background-color: #202020;
  height: 100vh;
  float: right;
  color: #f0f0f0;
}

#navContent{
  padding-top: 20vh;
  padding-left: 30px;
}

#navContent p{
  padding: 2px 0;
}

#navItems{
  margin-top: 20px;
}

#navItems li{
  padding: 8px 0; 
  display: block;
}

#navItems a{
  display: inline;
  text-decoration: none;
  color: white;
}

#navItems li a:hover{
  display: inline;
  color: #0767d0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}


