<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BillChen.ca</title>
        <!-- Chrome mobile header colors -->
        <meta name="theme-color" content="#f47710">
        <meta name="msapplication-navbutton-color" content="#f47710">
        <meta name="apple-mobile-web-app-status-bar-style" content="#f47710">
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/game.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="../js/game.js"></script>
    </head>

    <body ng-app="angularGame">
        <div ng-controller="gameController">
            <div class='personalityType' ng-repeat="personality in allPersonalityTypes" 
                    ng-click="selectPersonality(personality)" 
                    ng-if="!current.personalityType.name">
                {{personality.name}}
            </div>
            <div ng-if="current.personalityType.name">
                <div class="energyBar">
                    <div class="fullEnergy energySection" ng-repeat="i in getNumber(current.energy) track by $index">
                    </div>
                    <div class="emptyEnergy energySection" ng-repeat="i in getNumber(12 - current.energy) track by $index">
                    </div>
                </div>
                <div class="personalityLabel">
                    {{current.personalityType.name}}
                </div>
                <div class="statContainer">
                    <div class="incrementContainer" ng-repeat="(stat, cost) in current.personalityType.hoursRequired">
                        <div class="increaseStatButton" ng-style="getStatGainStyle(stat)" ng-click="clickStatButton(stat)">
                            <img ng-src="{{getStatImage(stat)}}"/>
                            <div>
                            -{{cost}}
                            </div>
                        </div>
                        <div class="doubleCostButton" 
                                ng-style="getDoubleButtonColor(stat)"
                                ng-click="clickDoubleCostButton(stat)">
                            -50%
                        </div>
                        <div class="statsGained" ng-style="getStatColor(stat)">
                            +{{current.statMarker[stat]}}
                        </div>
                    </div>
                </div>
                <div class="resetButton" ng-click="resetStats()">
                    Reset
                </div>
            </div>
        </div>
    </body>
</html>
