.content{
	overflow: hidden;
}

body{
	background: url("../media/background/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/*~~~~~~~~~~JOB THUMBNAILS~~~~~~~~~~~~~~~*/

.thumbnailsSection{
	overflow: hidden;
	height: 100%;
	width: 25%;
	display: inline-block;
}

.thumbnailsPosition{
	position: relative;
	top: 50%;
	width: 100%;
}

.thumbnailsContainer{
	position: relative;
	margin: 0 auto;
	height: 100vh;
	top: -35vh;
	width: 100%;
}

.thumbnail{
	display: block;
	min-width: 50px;
	min-height: 50px;
	margin: auto;
	margin-top:6vh;
	margin-bottom:6vh;

	height: 10vh;
	cursor: pointer;
}

/*~~~~~~~~~~JOB CONTENT~~~~~~~~~~~~~~~*/

.jobContent{
	position: fixed;
	left: 40%;
	width: 55%;
	top: 10vh;
	height: calc(80vh - 65px);
	background-color: #f0f0f0;
}

.jobContentHeader{
	height: 100px;
	padding: 20px;
	/*background: url("../media/employment/flippbackground.jpg");*/
/*	background-size: cover;
	background-position: top right;*/
}

.jobContentHeader h1{
	margin-left: 120px;
	padding-top: 20px;
}

.jobContentHeader h2{
	font-style: italic;
	padding-top: 10px;
	margin-left: 120px;
}

.jobContentBody h2{
}

.jobContentBody h3{
	font-size: 1em;
	font-style: italic;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #909090;
}

.jobContentBody li{
	font-size: 1em;
	margin-top: 3px;
	line-height: 1.25em;
}

.jobContentHeader > img{
	height: 100%;
	float: left;
}

.jobContentText{
	border-top: 1px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: #202020;
}

.responsibilities{
	width: calc(60% - 1px);
	height: calc(80vh - 207px);
	float: left;
	overflow: auto;

	border-top: 0px;
	border-left: 0px;
	border-right: 1px;
	border-bottom: 0px;
	border-style: solid;
	border-color: gray;
}

.responsibilities div{
	padding: 10px;
}

.skillssummary{
	width: 40%;
	height: calc(80vh - 207px);
	float: right;

	overflow: auto;
}

.skillssummary div{
	padding: 10px;
}

/*~~~~~~~~~~~~~~~~~CUSTOM~~~~~~~~~~~~~~~~~~~*/
#watsat .jobContentHeader h1, #ccs .jobContentHeader h1{
	font-size: 1.5em;
}

@media (max-width: 890px){
	.thumbnailsSection{
		width: 100%;
		height: 100px;
	}

	.thumbnail{
		display: inline;
	}

	.jobContent{
		position: static;
		width: 80%;
		margin: auto;
	}

	.thumbnailsSection{
		height: 150px;
		width: 80%;
		margin: 0 10%;
	}

	.thumbnailsPosition{
		top: 0;
	}

	.thumbnailsContainer{
		top: 3px;
		height: 100%;
	}
	.thumbnail{
		width: 15%;
		height: 0%;
		margin: 0 5% 0 4.5%;
	}
}
